.dropdown-button, #home {
    background-color: #0000b3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: verdana;
}

.dropdown-list a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #6666ff;
}

#nav {
    background-color: bisque;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('/images/downloadq.jpeg');
    background-repeat: none;
    background-size: cover;
}

#welcome {
    background-color: white;
    color: green;
    margin: 15.4%;
    font-weight: 900;
    text-justify: distribute;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* end of home page styling */
