{{#partial "content"}}
    <div class="views sightings">
        <h1>Sightings</h1>
        <hr>

        <div class="row">
            {{#if sightings}}
                <div class="col-md-3">
                    <h3>Time</h3>
                    <hr>
                    {{#each sightings as |sighting|}}
                        <h3>{{sighting.time}}</h3>
                    {{/each}}
                </div>
                <div class="col-md-3">
                    <h3>Animal</h3>
                    <hr>
                    {{#each animals as |animal|}}
                        <h3>{{animal}}</h3>
                    {{/each}}
                </div>

            {{else}}
                <h1>No Sightings. Create <a href="/create/sighting">HERE</a> </h1>
            {{/if}}

        </div>
    </div>

{{/partial}}
{{> layout.hbs}}